# ===========================================
# Server
# ===========================================

# e.g., api.yourdomain.com
DOMAIN=

DB_NAME=kanban
DB_USERNAME=
DB_PASSWORD=

# Auth0
JWT_ISSUER_URI=https://your-tenant.us.auth0.com/
JWT_AUDIENCES=https://kanban-api

CORS_ALLOWED_ORIGINS=

# ===========================================
# Client
# ===========================================

# VITE_API_URL=https://api.yourdomain.com/api
# VITE_AUTH0_DOMAIN=your-tenant.us.auth0.com
# VITE_AUTH0_CLIENT_ID=your-production-client-id
# VITE_AUTH0_AUDIENCE=https://kanban-api
# VITE_AUTH0_CALLBACK_URL=https://yourdomain.com/callback
