spring:
  application:
    name: kanban
  datasource:
    url: jdbc:postgresql://localhost:5432/kanban
    username: username
    password: password
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: false
    properties:
      hibernate:
        format_sql: true
    database: postgresql
  flyway:
    enabled: true
  security:
    oauth2:
      resourceserver:
        jwt:
          issuer-uri: https://dev-qprlf4kpcqixju57.us.auth0.com/
          audiences: https://kanban-api
springdoc:
  default-produces-media-type: application/json
  api-docs:
    path: /api-docs

kanban:
  security:
    custom-claim-prefix: https://kanban.kylerriggs.com/claims/
  board:
    max-boards-per-user: 10
